<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css_style.css') }}">
    <title>PersonLink By BotGuest</title>
</head>
<body>
<!-- Navigation Bar -->
    <nav class="navbar">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('archive') }}">Archive</a>
        <a href="{{ url_for('contact') }}">Contact</a>
        <a href="{{ url_for('about') }}">About_This_Site</a>
        <a href="{{ url_for('follow') }}">Follow</a>
        <a href="{{ url_for('follower_login') }}">Follower_Login</a>
        <a href="{{ url_for('manager') }}">Manager_Login</a>
    </nav>

    <div class="crt-screen">
        <!--AUXI TEXT-->
    <div class="terminal-aux">
        <p>>>> LOADING ABOUT_THIS_SITE...</p>
        <p>>>></p>
    </div>

        <div class="terminal">
            <p>▉▉ For anyone curious in this website itself, here I detail the inner-workings of my personal site.</p>
            <p>▉▉ Perhaps the most important thing about this site is,
                instead of a static html+css page, this is actually a dynamic web app, developed using Flask framework through Python.</p>
            <div class="terminal-head">
                <p>What's Dynamic?</p>
            </div>
            <p>▉▉ There is a posting mechanic in the archive page. If you log in via the "manager_login" page as the manager, you'll be able to interact with a custom post editor</p>
            <img src="https://github.com/botguest/personal_website/raw/main/editor_screenshot.png" alt="MyPic" class="crt-image" style="width: 30%; height: auto">
            <p>▉▉ Everything you put here will be stored on my server on Pythonanywhere,
                which provides a decent hosting solution at a reasonable rate, for a personal website.</p>
            <p>▉▉ Update Feb 26, 25: Gotta drop the work for a little while here. Be back later finishing the content for this page.</p>
            <p>▉▉ Can't believe it's been a year...</p>
            <p>▉▉ wait why is git pull working</p>
        </div>

    <div class="terminal-aux">
        <p>>>> <span class="flashing">*DONE*</span></p>
    </div>
        <!--AUXI TEXT-->
</div>

</body>
</html>

