<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css_style.css') }}">
    <title>PersonLink By BotGuest</title>
</head>
<body>
<!-- Navigation Bar -->
    <nav class="navbar">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('archive') }}">Archive</a>
        <a href="{{ url_for('contact') }}">Contact</a>
        <a href="{{ url_for('about') }}">About_This_Site</a>
        <a href="{{ url_for('follow') }}">Follow</a>
        <a href="{{ url_for('follower_login') }}">Follower_Login</a>
        <a href="{{ url_for('manager') }}">Manager_Login</a>
    </nav>

    <div class="crt-screen">
    <div class="terminal">
        <p>>>> LOADING ABOUT_THIS_SITE...</p>
        <p>>>></p>
        <p>Welcome to PersonLink (TM) By BotGuest, again!</p>

        <p>▉▉ So, you're here, wanting to find out more about the behind-the-scenes secret of this little personal website of mine. Damn, where does that little "manager login" password portal lead to?</p>
        <p>▉▉ I'm here to satisfy your curiosity!</p>
        <p>▉▉ ......</p>
        <p>▉▉ ......</p>
        <p>▉▉ You know what, maybe later, I gotta work on my resume and actually apply to jobs before wasting more time on this little <span class="flashing">web app</span> (hint hint) project of mine.</p>
        <p>▉▉ I *PROMISE* I'll be back. Today is Nov 7, 2024. I'll be back in a week! I promise!</p>

        <p>>>> <span class="flashing">*DONE*</span></p>
    </div>
</div>

</body>
</html>

