<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css_style.css') }}">
    <title>Archive - PersonLink By BotGuest</title>
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('archive') }}">Archive</a>
        <a href="{{ url_for('contact') }}">Contact</a>
        <a href="{{ url_for('about') }}">About_This_Site</a>
        <a href="{{ url_for('follow') }}">Follow</a>
        <a href="{{ url_for('follower_login') }}">Follower_Login</a>
        <a href="{{ url_for('manager') }}">Manager_Login</a>
    </nav>

    <div class="crt-screen">
        <!--AUXI TEXT-->
        <div class="terminal-aux">
            <p>>>> LOADING FOLLOWER_LOGIN...</p>
            <p>>>> <span class="flashing">*FAILED*</span> </p>
            <p>>>> LOADING MESSAGE RETURNED... </p>
            <p>------ Currently Under Construction</p>
            <p>------ Contact Admin BotGuest (JINGXING XU)</p>
            <p>>>> <span class="flashing">*DONE*</span> </p>
        </div>
        <!--AUXI TEXT-->
    </div>
</body>
</html>