<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css_style.css') }}">
    <title>PersonLink By BotGuest</title>
</head>
<body>
<!-- Navigation Bar -->
    <nav class="navbar">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('archive') }}">Archive</a>
        <a href="{{ url_for('contact') }}">Contact</a>
        <a href="{{ url_for('about') }}">About_This_Site</a>
        <a href="{{ url_for('follow') }}">Follow</a>
        <a href="{{ url_for('follower_login') }}">Follower_Login</a>
        <a href="{{ url_for('manager') }}">Manager_Login</a>
    </nav>
    <div class="crt-screen">
    <div class="terminal">

        <!--AUXI TEXT-->
        <div class="terminal-aux">
        <p>>>> INITIALIZING...</p>
        <p>>>> <span class="flashing">*DONE*</span></p>
        <p>>>> LOADING HOME...</p>
        <p>>>></p>
        <p>>>></p>
        <p>Welcome to PersonLink (TM) By BotGuest</p>
        </div>
        <!--AUXI TEXT-->

        <div class="image-container">
        <img src="https://github.com/botguest/personal_website/raw/main/myself.JPG" alt="MyPic" class="crt-image" style="width: 30%; height: auto">
        </div>

        <div class="terminal-head">
        <p>▉▉ Welcome to Jingxing's personal website!</p>
        </div>

        <p>▉▉ Jingxing is a Game Design & Computer Science Dual-Bachelor from New York University aspiring to make my mark in the Video Game & Software Engineering industry some day.</p>
        <p>▉▉ Here you'll find the archive of my previous software & games, and what I've been up to recently.</p>
        <p>▉▉ If you'd like to collaborate, commission my freelance services, or, you know, <span class="flashing">HIRE ME</span> *wink wink*, I can be reached through the following means: </p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;** +1 (585)-867-3585 | Text Preferred</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;** xujingxing65@outlook.com</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;** jx2210@nyu.edu</p>

        <!--AUXI TEXT-->
        <div class="terminal-aux">
        <p>>>> <span class="flashing">*DONE*</span></p>
        <br>
        <p>>>> LOADING ABOUT_ME...</p>
        <p>>>></p>
        </div>
        <!--AUXI TEXT-->

        <br>
        <div class="terminal-head">
        <p>▉▉ Professional Skills:</p>
        </div>

        <p>--Programming Languages: C#, Java, Python, GameMaker Language, C, Javascript, Lisp, Assembly</p>
        <p>--Markup Languages: HTML, CSS, ink</p>
        <p>--Game Engines: Unity, Twine, GameMaker</p>
        <p>--Software: Flask, Jinja, Amazon Web Services, Docker, Django, Bitbucket, GitHub, Google Workspace</p>
        <p>--Media: Adobe Illustrator, Adobe Photoshop, DaVinci Resolve, iMovie</p>
        <p>--Most Importantly, Always Happy to Learn More!!</p>
        <br>

        <div class="terminal-head">
        <p>▉▉ Natural Languages:</p>
        </div>

        <p>I speak fluent English, native Mandarin (native in both Traditional & Simplified Chinese script), conversational Spanish, conversational Japanese, conversational Northern Min, and elementary Cantonese!</p>
        <p>--I swear I have not used any translator for the following statements! (including this one lol) </p>
        <p>--我發誓我沒有為了打出這句話使用翻譯軟體！！</p>
        <p>--我发誓我打这句话绝对没有用翻译软件！！</p>
        <p>--¡Juro que no usé ningún traductor para esta oración! (Pero necesito consultar mis notas para la gramática ╥﹏╥)</p>
        <p>--この文は翻訳アプリを使用しなかった（でも、辞書は見た ╥﹏╥）</p>
        <p>--我嘅廣東話都唔係好好但係咁講應該冇錯...?</p>
        <br>
        <p>--One day I'll make my website multilingual in all of the above languages, one day...</p>
        <br>

        <div class="terminal-head">
        <p>▉▉ Location:</p>
        </div>
        
        <p>Jingxing is currently based in New York City!</p>
        <div class="image-container-left">
        <img src="https://github.com/botguest/personal_website/raw/main/nyc_night.png" alt="NYC" class="crt-image" style="width: 30%; height: auto">
        </div>

        <!--AUXI TEXT-->
        <div class="terminal-aux">
        <p>>>> <span class="flashing">*DONE*</span></p>
        </div>
        <!--AUXI TEXT-->

    </div>
</div>

</body>
</html>

