<!DOCTYPE html>

<html lang="en"> <!--where the doc should start-->

<head> <!--the settings-->
    <meta charset="UTF-8">
    <title>PersonLink by BotGuest</title> <!--the title of the page-->
</head> <!--the settings-->

<h1> <!--heading size-->
    Yo CHECK OUT THIS LARGE FONT
</h1> <!--heading size-->

<h2> <!--heading size-->
    Smaller Font.
</h2> <!--heading size-->

<h3> <!--heading size-->
    Even Smaller Font.
</h3> <!--heading size-->

<body> <!--the content-->
urngijewbrrjrjbfv<br> <!--equivalent to \n-->
efemfoef <br>
<hr> <!--draws a horizontal line-->
cejfn <br>
<p>efmrknfrmnfkrnjkrenkfnrejkfgnrkfneiknfeiknfkenfjkern fjrn fgjerwn gjr gjnejgrgnrjngjrngj rj vjr jr gnv rjv jnerb her ejr vb b rjv ejhv </p> <!--These content are in the same paragraph-->
<p>&nbsp&nbsp&nbsp&nbspefmrknfrmnfkrnjkrenkfnrejkfgnrkfneiknfeiknfkenfjkern fjrn fgjerwn gjr gjnejgrgnrjngjrngj rj vjr jr gnv rjv jnerb her ejr vb b rjv ejhv </p> <!--&nbsp: non-breaking space, 4 of these == tab-->
<sub>krmnfrmfe k  ek e</sub>
<sup>ifmnvr ke k ek </sup>
</body> <!--the content-->

</html> <!--where the doc should end-->

<script src="{{ url_for('static', filename='scr_index.js') }}"></script>